In [2]:
from datetime import datetime
print ("Today is:" + str(datetime.now()))

Today is:2020-08-23 00:34:27.492290

In [3]:
def say_hello(recipient):
    return 'Hi, {}!'.format(recipient)
say_hello('Curious') + " Welcome to the Jupyter Notebooks tutorial!"

'Hi, Curious! Welcome to the Jupyter Notebooks tutorial!'

In [4]:
import numpy as np
def square(x):
    return x * x
print ("You can use the awesome numpy to do things like:")
x = np.random.randint(1, 10)
print ("The square of {} is: ".format(x) + str(square(x)))

You can use the awesome numpy to do things like:
The square of 7 is: 49

In [5]:
import os
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
sns.set(style="darkgrid")

df = pd.read_csv(os.getcwd() + '/TutorialNotebooks/UserSample.csv')
df.head()

,User Name,First Name,Last Name,Display Name,Job Title,Department,Office Number,Office Phone,Mobile Phone,Fax,Address,City,State or Province,ZIP or Postal Code,Country or Region
0,chris@contoso.com,Chris,Green,Chris Green,IT Manager,Information Technology,123451,123-555-1211,123-555-6641,123-555-9821,1 Microsoft way,Redmond,Wa,98052,United States
1,ben@contoso.com,Ben,Andrews,Ben Andrews,IT Manager,Information Technology,123452,123-555-1212,123-555-6642,123-555-9822,1 Microsoft way,Redmond,Wa,98052,United States
2,david@contoso.com,David,Longmuir,David Longmuir,IT Manager,Information Technology,123453,123-555-1213,123-555-6643,123-555-9823,1 Microsoft way,Redmond,Wa,98052,United States
3,cynthia@contoso.com,Cynthia,Carey,Cynthia Carey,IT Manager,Information Technology,123454,123-555-1214,123-555-6644,123-555-9824,1 Microsoft way,Redmond,Wa,98052,United States
4,melissa@contoso.com,Melissa,MacBeth,Melissa MacBeth,IT Manager,Information Technology,123455,123-555-1215,123-555-6645,123-555-9825,1 Microsoft way,Redmond,Wa,98052,United States

In [6]:
print ("Total records: " + str(len(df)))
df.dtypes

Total records: 5

User Name             object
First Name            object
Last Name             object
Display Name          object
Job Title             object
Department            object
Office Number          int64
Office Phone          object
Mobile Phone          object
Fax                   object
Address               object
City                  object
State or Province     object
ZIP or Postal Code     int64
Country or Region     object
dtype: object